{{#partial "naslov"}}Osobe{{/partial}}
{{#partial "header"}}
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/editovanje.css">
{{/partial}}
<body>
{{#partial "sadrzaj"}}
    <header>
        <ul> 
            <li><a href="/"><i class="fas fa-home"></i>Početna</a></li>
            <li><a href="/editovanje"><i class="fas fa-user"></i>Editovanje osoba</a></li>
            <li><a href="#" id="aktivni"><i class="fas fa-users"></i>Dodavanje novih osoba</a></li>
        </ul>
    </header>

    <h1>Dodajte novu osobu:</h1>

    <div id="prikazosobe">
                <table cellspacing="3">
                    <tbody><tr class="ime">
                        <td><p>Ime:</p></td>
                        <td colspan="3"><input type="text" id="ime" autocomplete="off"></td>             
                    </tr>
                    <tr class="prezime">    
                        <td><p>Prezime:</p></td>
                        <td colspan="3"><input type="text" id="prezime" autocomplete="off"></td>      
                    </tr>
                    <tr class="treci_red">
                        <td>
                            <p>Id:</p>            
                        </td>

                        <td>
                            <p>Email:</p>            
                        </td>

                        <td>
                            <p>Pol:</p>            
                        </td>

                        <td>
                            <p>Jezici:</p>            
                        </td>
                    </tr>
                    <tr class="cetvrti_red">
                        <td>
                            <p id="identifikator"></p>        
                        </td>

                        <td>
                            <input type="text" id="email" autocomplete="off">          
                        </td>

                        <td>
                            <input type="text" id="pol" autocomplete="off">         
                        </td>
                        <td>
                            <textarea name="text" rows="3"  wrap="soft" id="jezici"></textarea>
                        </td>
                    </tr>
            </table>  
        </div> 

        <button type="button" onclick="dodaj_osobu()">Dodaj</button>
{{/partial}}
{{#partial "dodatno"}}
    <script src="javascript/jquery.js"></script>
    <script>
        let ime = document.getElementById("ime");
        let prezime = document.getElementById("prezime");
        let identifikator = document.getElementById("identifikator");
        let email = document.getElementById("email");
        let pol = document.getElementById("pol");
        let jezici  = document.getElementById("jezici");

        function dodaj_novi_id()
        {
            $.ajax({
                    url:"/ukupan_size_osoba",
                    method:"POST",
                    success:function(response)
                    {
                       identifikator.innerText = response;
                    }           
            })  
        }
        dodaj_novi_id();
        

        function dodaj_osobu()
        {
            let izlaz = "";
            if(ime.value.length == 0) izlaz+="Niste uneli ime!\n";
            if(prezime.value.length == 0) izlaz+="Niste uneli prezime!\n";
            if(email.value.length == 0) izlaz+="Niste uneli email!\n";
            else if(email.value.indexOf("@") <= -1) izlaz+="Nepravilan unos email-a!\n";
            if(pol.value.length == 0)izlaz+="Niste uneli pol!\n"; 
            else if(pol.value != "Muški" && pol.value != "Ženski") izlaz+="Nepravilan unos pola!\n"; 
            if(jezici.value.length<1) izlaz+="Niste uneli jezike koje osoba govori!\n";
            if(izlaz.length != 0) alert(izlaz);
            else
            {
                let podaci = {
                    "ime":ime.value,
                    "prezime":prezime.value,
                    "identifikator":identifikator.textContent,
                    "email":email.value,
                    "pol":pol.value,
                    "jezici":jezici.value
                }
                $.ajax({
                    url:"/dodati_novu_osobu",
                    method:"POST",
                    data:podaci,
                    success:function(response)
                    {
                       if(response == "Jeste")
                       {
                           alert("Uspesno ste dodali novu osobu!");
                           dodaj_novi_id();
                       }
                       else alert("Greska, osoba nije dodata!");      
                    }           
                })  
                ime.value = "";
                prezime.value = "";
                identifikator.value = "";
                email.value = "";
                pol.value = "";
                jezici.value = "";
            }
        }
    </script>
{{/partial}}
    </body>
</html>
{{> layout.hbs}}