<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{#block "naslov"}}Naslov{{/block}}</title>
    {{#block "header"}}{{/block}}
</head>
<body>
    {{#block "sadrzaj"}}{{/block}}   
    {{#block "dodatno"}}{{/block}}
</body>
</html>